[Unit]
Description=Mebel Catalog Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/catalog-raximov
ExecStart=/bin/bash /opt/catalog-raximov/start.sh
Restart=always
RestartSec=5
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
